In [45]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import time, random

In [47]:
#Get links
makes = pd.read_csv('Data/make_model.csv')
links = ['https://www.cars.com/research/'+make+'/' for make in makes.Make]

#Get soups
soups = []
for link in links:
    res = requests.get(link)
    time.sleep(random.randint(0,4))
    if res.status_code == 200:
        soups.append(bs(res.text))
        print(links.index(link))
    else:
        print(f'error:{link}')

0
1
2
3
4
1
6
1
4
9
1
3
12
1
14
9
12
17
18
12
20
4
0
23
17
3
1
1
1
4
0
18
1
0
3
35
2
4
0
18
40
35
3
12
18
0
14
47
48
4
48
17
3
9
48
14
3
57
6
0
14
6
9
0
12
17
66
23
23
9
2
71
66
14
4
2
1
77
1
1
80
3
4
2
0
85
0
18
1
77
1
17
0
6
12
0
12
97
48
3
35
35
77
103
3
20
4
23
12
1
17
2
23
66
48
0
48
12
12
1
57
103
4
0
0
57
1
12
4
error:https://www.cars.com/research/Land/
23
66
40
17
12
3
47
35
12
3
23
35
4
47
1
6
9
12
1
9
103
151
12
6
1
35
4
1
3
3
0
103
3
14
164
0
77
6
14
48
12
2
23
14
1
3
0
14
1
14
57
0
35
4
80
17
9
23
35
4
14
1
0
20
1
77
40
18
2
14
9
6
20
103
12
1
18
3
18
2
2
2
47
0
23
35
12
3
35
17
1
35
0
77
23
4
23
227
6
0
0
231
9
1
9
66
12
48
47
17
66
12
3
35
9
17
246
23
164
57
17
251
12
66
4
6
0
151
0
35
23
4
17
12
6
47
246
164
0
40
4
17
23
273
0
0
1
1
6
151
97
1
48
0
3
3
12
1
48
6
66
35
1
9
12
77
14
3
20
151
0
6
0
18
231
35
246
6
23
40
57
47
66
103
9
3
47
47
151
12
66
4
6
3
0
66
103
3
14
12
0
77
1
18
4
error:https://www.cars.com/research/Land/
231
0
12
85
227
3
23
1
66
57
77
14
35
23
9
35
23
1
1
23
35
12
6
12
23
2
18
3
6
1
3
error:https://www.cars.com/research/Alfa/
17
14
12
71
246
1
1
164
17
20
error:https://www.cars.com/research/Land/
12
0
103
227
14
4
2
47
error:https://www.cars.com/research/Land/
151
3
35
0
77
14
227
4
14
77
12
14
0
18
164
4
4
error:https://www.cars.com/research/Alfa/
1
0
1
48
48
1
71
6
23
20
20
3
9
12
47
9
12
35
85
1
48
103
20
77
4
164
35
35
20
57
35
6
77
2
20
0
77
20

In [48]:
#Function to get relevant data from HTML into a dict
def get_dict(soup):
    cars = [i.text for i in soup.find_all(class_="make-model-text")]
    msrps = [i.text for i in soup.find_all(class_='msrp-text--bold')]
    my_dict = dict(zip(cars, msrps))
    return my_dict

#Apply function to soups
data = dict()
for soup in soups:
    data.update(get_dict(soup))

#Save data
df = pd.DataFrame()
df['Model'] = data.keys()
df['msrp'] = data.values()
df.to_csv('Data/msrp_data.csv', ignore_ind)

In [50]:
df

                                  Model     msrp
0                     Chevrolet Bolt EV  $31,000
1                      Chevrolet Camaro  $25,000
2                    Chevrolet Corvette  $60,900
3                      Chevrolet Impala  $31,620
4                      Chevrolet Malibu  $23,400
..                                  ...      ...
448                   Volvo XC60 Hybrid  $53,950
449  Volvo XC60 Recharge Plug-In Hybrid  $54,250
450                          Volvo XC90  $49,900
451                   Volvo XC90 Hybrid  $67,000
452  Volvo XC90 Recharge Plug-In Hybrid  $63,800

[453 rows x 2 columns]